<!-- Material You Top App Bar -->
<header class="top-app-bar">
    <div class="top-app-bar__leading">
        <!-- Optional Navigation Icon could go here -->
    </div>
    <div class="top-app-bar__title">
        <a href="{{ site.baseurl }}/" style="text-decoration: none; color: inherit;">
            {{ site.title }}
        </a>
    </div>
    <nav class="top-app-bar__actions">
        {% for page in site.pages %}
            {% if page.title and page.hide-in-nav != true %}
            {% unless page.url contains '/page/' %}
            <a href="{{ page.url | prepend: site.baseurl }}" class="md-button md-button--text">
                {{ page.title }}
            </a>
            {% endunless %}
            {% endif %}
        {% endfor %}
        <!-- Search, Theme Toggle -->
        <a href="{{ "/search/" | prepend: site.baseurl }}" class="md-button md-button--text" aria-label="Search">
            <i class="fa fa-search"></i>
        </a>
    </nav>
</header>