{% comment %}
  Feed row for a release / article.
  @param post
{% endcomment %}
<article class="feed-item">
    <a href="{{ include.post.url | prepend: site.baseurl }}" class="feed-item__link">
        <h3 class="feed-item__title">{{ include.post.title }}</h3>
        <p class="feed-item__excerpt">
            {% if include.post.lang == 'en' %}
            {{ include.post.content | strip_html | truncate:150 }}
            {% else %}
            {{ include.post.content | strip_html | truncate:100 }}
            {% endif %}
        </p>
        <p class="feed-item__meta">
            <time datetime="{{ include.post.date | date: '%Y-%m-%d' }}">{{ include.post.date | date: "%Y-%m-%d" }}</time>
            {% if include.post.tags.size > 0 %}
            · {{ include.post.tags | first }}
            {% endif %}
            · Read
        </p>
    </a>
</article>
