---
layout: default
---

<article class="page-content">
    <header style="margin-bottom: 32px;">
        <h1 style="font-family: var(--md-sys-typescale-display-large-font); font-size: 44px; margin-bottom: 8px;">
            {{ page.title }}
        </h1>
        {% if page.description %}
        <p style="font-size: 20px; color: var(--md-sys-color-on-surface-variant);">{{ page.description }}</p>
        {% endif %}
    </header>

    <div class="typography-body">
        {{ content }}
    </div>
</article>
