---
layout: default
---

<!-- Post Structure -->
<!-- Restored Intro Header for Post Cover Image -->
{% include intro-header.html type='post' %}

<article class="post-content">
    {% if page.multilingual %}
        {% include multilingual-sel.html %}
    {% endif %}

    <div class="typography-body">
        {{ content }}
    </div>

    <hr style="border: 0; border-top: 1px solid var(--md-sys-color-outline); margin: 32px 0;">

    <div style="display: flex; justify-content: space-between;">
        {% if page.previous.url %}
        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" class="md-button md-button--text">
            &larr; {{page.previous.title}}
        </a>
        {% endif %}
        {% if page.next.url %}
        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" class="md-button md-button--text">
            {{page.next.title}} &rarr;
        </a>
        {% endif %}
    </div>
</article>

{% if site.disqus_username %}
<!-- disqus -->
<div id="disqus_thread" style="margin-top: 40px;"></div>
<script>
    var disqus_config = function () {
        this.page.url = "{{ site.url }}{{ page.url }}";
        this.page.identifier = "{{ page.id }}";
    };
    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ site.disqus_username }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
{% endif %}
